.landing-section{
    height: 100vh;
    background-image: url("../images/LandingPage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-bgc{
    background-color: rgba(60, 98, 85,0.7);
  
}
.txt-clr-span{
    color: rgb(26, 95, 26);
}
.tag-line{
    background-color: rgba(219, 218, 217, 0.5);
    width:28%;
    font-size: 18px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 50px;
    color: white;
    margin-top: 8%;
    margin-left: 8%;
}